body {
  background: whitesmoke;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-switch {
  .toggle-button {
    width: 100px;
    background: white;
    height: 46px;
    position: relative;
    border-radius: 30px;
    border: 1px solid white;
    box-shadow: #1846add9 0px 0px 16px 4px inset,
      #1846ad78 0px 0px 20px 5px inset;
    background: #25d5f1;
    transition: 1s cubic-bezier(0.65, 0.39, 0.22, 0.69);
    .toggle-icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: rgb(255, 255, 255);
      position: absolute;
      top: 3px;
      left: 3px;
      transition: 0.5s cubic-bezier(0.65, 0.39, 0.22, 0.69);
      box-shadow: inset 0 0 18px 13px #ed712496, inset 0 0 11px 11px #a95d15e3,
        0px 0px 15px 10px #ff98007a, 0 0 8px 8px #ff57228a;
    }
  }
  input {
    opacity: 0;
    position: absolute;
  }
  input:checked + .toggle-button {
    background: #48474d;
    transition: 0.5s cubic-bezier(0.65, 0.39, 0.22, 0.69);
    box-shadow: #212223d9 0px 0px 16px 4px inset,
      #2d323c78 0px 0px 20px 5px inset;
    .toggle-icon {
      left: 56px;
      transition: 0.5s cubic-bezier(0.65, 0.39, 0.22, 0.69);
      box-shadow: inset 0 0 16px 11px #ffffffcf, inset 0px 0px 10px 9px #55585b,
        0px 0px 13px 8px #4a4b51a6, 0 0 8px 8px #37393cba;
    }
  }
}
